{% extends 'base.html.twig' %}

{% block title %}TRTConseil - Annonces{% endblock %}

{% block body %}
{# {% if not annonces.items is same as ([]) %} #}
<div class="container mt-4">
<h1>Espace recruteur</h1>

 <a class="btn btn-primary btn-dark" href="#" role="button">nouvelle annonce</a>
     {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %} 


<h1>Profil</h1>
<table class="table table-hover mt-2">
  <thead>
    <tr>
     <th scope="col">Numéro</th>
      <th scope="col">Annonce</th>
      <th scope="col">Activation</th>
      <th scope="col">intitulé du poste</th>


      <th scope="col">Nouvelle annonce</th>
      <th scope="col">Annonces</th>
    </tr>
  </thead>
  <tbody>
   {% for annonce in annonces %}
    <tr class="table-primary">
      <th scope="row">{{annonce.id}}</th>
      <td> {{annonce.name}}</td>
      {% if annonce.active %}
       <td>   validé</td>
        {% else %}
       <td>  non validé</td>
      {% endif %}
     <td> {{annonce.intitulePoste}}</td>
    

 
      <td>
        <a href="{{ path('recruteur.annonce.new',{id : id}) }}" class = "btn btn-info">créér</a>
      </td>
       <td>
         <a href="{{ path('recruteur.annonce.edit',{id : id,id1 : annonce.id}) }}" class="btn btn-info">edit</a> 
      </td>
        <td>
         <a href="{{ path('recruteur.annonce.delete',{id : id,id1 : annonce.id}) }}" class="btn btn-info">delete</a> 
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{# <div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(annonce) }}
</div> #}
{# {% else %}
<h4>Il n'y a pas d'ingrédients</h4> #}
{# {% endif %} #} 
</div>
{% endblock %}
