{% extends 'base.html.twig' %}

{% block title %}TRTConseil - Recruteur{% endblock %}

{% block body %}
{% if not candidats.items is same as ([]) %}
<div class="container mt-4">
<div class="card border-primary my-3">
        <h1 class="card-header">
      Espace consultant
        </h1>
</div>

     {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %} 

<div class="card my-1 border-primary">
        <h3 class="card-header">
       Profil candidat
        </h3>
      </div>

<table class="table table-striped mt-2">
  <thead>
    <tr>
     <th scope="col">Numéro</th>
     <th scope="col">Email</th>
      <th scope="col">Nom du candidat</th>
      <th scope="col">Prenom</th>
      <th scope="col">Validation</th>

      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
   {% for candidat in candidats %}
    <tr class="table-dark">
      <th scope="row">{{candidat.id}}</th>
      <td> {{candidat.email}}</td>
      <td> {{candidat.name}}</td>
         <td> {{candidat.lastname}}</td>
      {% if candidat.activation %}
         <td >  <h5 class="badge bg-primary fs-6 mr-5">Validé</h5> </td>
        {% else %}
         <td >  <h5 class="badge bg-primary fs-6 mr-5">Non Validé</h5> </td>
      {% endif %}
    
      <td>
        <a href="{{ path('consultant.candidat.edit',{id : candidat.id}) }}" class = "btn btn-primary">Modifier</a>
      </td>
       <td>
        <a href="{{path('consultant.candidat.delete',{id : candidat.id})}}" class = "btn btn-primary">suppression</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(candidats) }}
</div>
{% else %}
<h4>Il n'y a pas d'ingrédients</h4> 
{% endif %}
</div>
{% endblock %}
