{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>
      Bonjour {{ user.email }} 
    </h1>

    <h4>Veuillez compléter votre profil</h4>

     {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %} 

    {{ form_start(form) }}

    <div class="form-group">
      {{ form_label(form.NameEntreprise) }}
      {{ form_widget(form.NameEntreprise) }}
      <div class="form-error">
        {{ form_errors(form.NameEntreprise) }}
      </div>
    </div>
    <div class="form-group">
      {{ form_label(form.adresseEntreprise) }}
      {{ form_widget(form.adresseEntreprise) }}
      <div class="form-error">
        {{ form_errors(form.adresseEntreprise) }}
      </div>
    </div>

   
  </div>
  {{ form_end(form) }}
{% endblock %}
