{% extends 'base.html.twig' %}

{% block title %}TRTConseil - Consultant{% endblock %}

{% block body %}
{% if not recruteurs.items is same as ([]) %}
<div class="container mt-4">

<div class="card border-primary my-3">
        <h1 class="card-header">
      Espace consultant
        </h1>
</div>
{# <a href="{{path('ingredient.new')}}" class="btn btn-primary mb-4">Créer un ingrédient </a> #}
    {# {% for message in app.flashes('success') %}
      <div class="alert alert-success mt-4">
        {{ message }}
      </div>
    {% endfor %} #}

{# <div class="alert alert-dismissible alert-warning">
 il y à 
   {{ ingredients.getTotalItemCount }} 
   ingédients totals
</div> #}

<div class="card my-1 border-primary">
        <h3 class="card-header">
       Profil recruteur
        </h3>
      </div>
<table class="table table-striped mt-4">
  <thead>
    <tr>
     <th scope="col">Numéro</th>
     <th scope="col">Email</th>
      <th scope="col">nom de l'entreprise</th>
      <th scope="col">Activation</th>
      <th scope="col">adresse entreprise</th>

      <th scope="col">Edition</th>
      <th scope="col">Suppression</th>
    </tr>
  </thead>
  <tbody>
   {% for recruteur in recruteurs %}
    <tr class="table-dark">
      <th scope="row">{{recruteur.id}}</th>
       <td> {{recruteur.email}}</td>
      <td> {{recruteur.NameEntreprise}}</td>
      {% if recruteur.active %}
         <td >  <h5 class="badge bg-primary fs-6 mr-5">Validé</h5> </td>
        {% else %}
        <td >  <h5 class="badge bg-primary fs-6 mr-5">Non Validé</h5> </td>
      {% endif %}
      <td> {{recruteur.adresseEntreprise}}</td>
 
      <td>
        <a href="{{ path('consultant.recruteur.edit',{id : recruteur.id}) }}" class = "btn btn-primary">Modifier</a>
      </td>
       <td>
        <a href="{{path('consultant.recruteur.delete',{id : recruteur.id})}}" class = "btn btn-primary">suppression</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<div class="navigation d-flex justify-content-center mt-4">
    {{ knp_pagination_render(recruteurs) }}
</div>
{% else %}
<h4>Il n'y a pas d'ingrédients</h4> 
{% endif %}
</div>
{% endblock %}
